<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password">
      <div *ngIf="f['password'].touched && f['password'].invalid">
        <div *ngIf="f['password'].errors?.['required']" class="error">Password is required</div>
      </div>
    </div>
  
    <div>
      <label for="confirmPassword">Confirm Password</label>
      <input id="confirmPassword" type="password" formControlName="confirmPassword">
      <div *ngIf="f['confirmPassword'].touched && passwordForm.errors?.['mismatch']" class="error">
        Passwords do not match
      </div>
    </div>
  
    <div>
      <h4>Password Requirements</h4>
      <div>
        <input type="checkbox" [checked]="passwordRequirements.minLength" disabled> At least 6 characters
      </div>
      <div>
        <input type="checkbox" [checked]="passwordRequirements.uppercase" disabled> At least one uppercase letter
      </div>
      <div>
        <input type="checkbox" [checked]="passwordRequirements.lowercase" disabled> At least one lowercase letter
      </div>
      <div>
        <input type="checkbox" [checked]="passwordRequirements.number" disabled> At least one number
      </div>
      <div>
        <input type="checkbox" [checked]="passwordRequirements.symbol" disabled> At least one special character
      </div>
    </div>
  
    <button type="submit" [disabled]="passwordForm.invalid">Submit</button>
  </form>
  
      {{convertWordToUpperCase | titleCase}}