<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="password">Password</label>
      <input id="password" type="password" formControlName="password">
      <div *ngIf="f['password'].touched && f['password'].invalid">
        <small *ngIf="f['password'].errors?.['required']">Password is required</small>
        <small *ngIf="f['password'].errors?.['minlength']">Password must be at least 6 characters</small>
      </div>
    </div>
  
    <div>
      <label for="confirmPassword">Confirm Password</label>
      <input id="confirmPassword" type="password" formControlName="confirmPassword">
      <div *ngIf="f['confirmPassword'].touched && passwordForm.errors?.['mismatch']">
        <small>Passwords do not match</small>
      </div>
    </div>
  
    <button type="submit" [disabled]="passwordForm.invalid">Submit</button>
  </form>
  