<!-- <h2>Employee List</h2>
<ul>
  <li *ngFor="let employee of employees">
    {{ employee.name }} -- {{ employee.position }} -- {{ employee.department }}
    <button (click)="deleteEmployee(employee.id)">Delete</button>
    <button>Edit</button>
  </li>
</ul> -->

<!-- <div class="container-fluid m-3">
  <div class="row justify-content-around">
    <div class="col-lg-6 col-sm-12">
      <div class="card mx-3 mb-3">
        <div class="row align-middle">
          <div></div>
          <div class="card-body col-lg-3 col-sm-2 align-middle">
            Total Leave
          </div>
          <div class="col-lg-2 align-middle">
            <div class="circle">6</div>
          </div>
          <div class="col-lg-1">
            <div class="line"></div>
          </div>
          <div class="col-lg-2 align-middle">
            <div class="circle">6</div>
          </div>
          <div class="card-body col-lg-3 align-middle">Balance Leave</div>
        </div>
      </div>
      <div class="row justify-content-around">
        <div class="col-lg-2 justify-content-around">
          <button type="button" class="btn btn-primary btn-sm">Apply&nbsp;Leave</button>
        </div>
     

      </div>
    </div>
    <div class="col-lg-6">
      <div class="card mx-3 mb-3">
        <div class="row align-middle">
          <div class="card-body col-lg-3 col-sm-2 align-middle">
            Total Permission
          </div>
          <div class="col-lg-2 align-middle">
            <div class="circle">6</div>
          </div>
          <div class="col-lg-1">
            <div class="line"></div>
          </div>
          <div class="col-lg-2 align-middle">
            <div class="circle">6</div>
          </div>
          <div class="card-body col-lg-3 align-middle">Balance Permission</div>
        </div>
      </div>
      <div class="row justify-content-around">
        <div class="col-lg-2 justify-content-around">
          <button type="button" class="btn btn-primary btn-sm">Apply&nbsp;Permission</button>
        </div>
     

      </div>
    </div>
  </div>
</div> -->

<!-- <div class="container-sm container-fluid">
  <div class="row justify-content-around">
 
    <div class="card col-lg-5 justify-content-around mx-xl-3 my-3">
      <div class="row align-middle justify-content-around">
        <div class="card-body col-lg-12  align-middle ">
          <div class="  col-sm- align-middle justify-content-around">
          <div class="col-sm-12 col-lg-2 align-middle">Total&nbsp;Leave</div>
          <div class="col-lg-2 align-middle">
            <div class="circle">6</div>
          </div>
        </div>
          <div class="col-lg-1">
            <div class="line"></div>
          </div>
          <div class="col-sm-2 align-middle">Balance&nbsp;Leave</div>
          <div class="col-lg-2 align-middle">
            <div class="circle">6</div>
          </div>
        </div>
      </div>
    </div>
    <div class="card col-lg-5 justify-content-around mx-xl-3 my-3">
      <div class="row align-middle justify-content-around">
        <div class="card-body col-lg-6 col-sm-12 align-middle justify-content-around">
          <div class="col-sm-2 align-middle">Total Permission</div>
          <div class="col-lg-2 align-middle">
            <div class="circle">6</div>
          </div>
          <div class="col-lg-1">
            <div class="line"></div>
          </div>
          <div class="col-sm-2 align-middle">Balance Permission</div>
          <div class="col-lg-2 align-middle">
            <div class="circle">6</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div> -->

<!-- <button (click)=" createButtonsOnUserClick($event)">create</button>
<div *ngFor="let b of increaseButtons;let i = index">
  <button>{{i  + 1}}</button>
</div> -->

<!-- <button (click)=" changeBackgroundColorOnUserClick()" [style.background]="buttonColor">change Button BG</button> -->

<!-- <button (click)="onButtonClick()">Generate Random Number</button>

{{randomNumber}} -->

<!-- <button (click)="  buttonToggleOnUserClick()">click me to view Toogle button</button>

<button *ngIf="toggledButton">Hii, I am the toggle button</button> -->

<!-- <button (click)="increaseCountOnUserClicks()"> count</button>
{{count}} -->

<!-- <button (click)=" createButtonOnClick($event)">
  Increase Buttons
</button>
<div *ngFor="let b of increaseButtons; let i = index">
<button>
  {{i + 1}} Button
</button>

</div> -->

<!-- <app-item-list></app-item-list> -->

<!-- <app-reactive-form></app-reactive-form> -->
<!-- <app-independence-day></app-independence-day> -->

<!-- <app-data-table></app-data-table> -->

<!-- <app-search-sort-list></app-search-sort-list> -->

<div class="container-fluid">

  <!-- <h1>Learning Bootstrap 5</h1>
  <p>This is a fixed width container</p>
  <p class="h1">h1 bootsrap heading</p>
  <p class="h2">h1 bootsrap heading2</p>
  <p class="h3">h1 bootsrap heading</p>
  <p class="h4">h1 bootsrap heading</p>
  <p class="h5">h1 bootsrap heading</p>
  <p class="h6">h1 bootsrap heading</p>
  <p class="display-1">Display heading</p>
  <p class="display-2">Display heading</p>
  <p class="display-3">Display heading</p>
  <p class="display-4">Display heading</p>
  <p class="display-5">Display heading</p>
  <p class="display-6">Display heading</p> -->

  <!-- <p class="text-muted">The text is muted</p>
  <p class="text-primary">The text is primary</p>
  <p class="text-success">The text is success</p>
  <p class="text-info">The text is info</p>
  <p class="text-warning">The text is warning</p>  
  <p class="text-danger">The text is danger</p>
  <p class="text-secondary">The text is secondary</p>
  <p class="text-light bg-dark">The text is secondary</p> -->

  <!-- <p class="bg-primary">This text is important</p>
  <p class="bg-success">This text is success</p>
  <p class="bg-success">This text is success</p> -->
<!-- <div class="container">
  <div class="row">
    <div class="col">
      <p>this is a simple column</p>
    </div>
    <div class="col">
      <p>this is a simple column</p>
    </div>
    <div class="col">
      <p>this is a simple column</p>
    </div>
  </div>

  <div class="row">

    <div class="col">
      <p>this is a simple column</p>
    </div>
    <div class="col">
      <p>this is a simple column</p>
    </div>
  </div>
</div> -->

<!-- <div class="container">
  <h1>Simple Blog with Bootstrap 5</h1>
  <div class="row">
    <div class="col">
      <h2>Post Title 1</h2>
      <p>Date: Aug 15,2024</p>
      <p>This is the content of post 1</p>
    </div>
    <div class="col">
      <h2>Post Title 2</h2>
      <p>Date: Aug 16,2024</p>
      <p>This is the content of post 1</p>
    </div>
  </div>
</div> -->

</div>

<!-- <app-new-dynamic-form></app-new-dynamic-form> -->
<!-- <app-material-data-table></app-material-data-table> -->
 <!-- <router-outlet></router-outlet> -->
 <!-- <app-dynamic-form></app-dynamic-form> -->

 <!-- <app-hobbies-dynamic-form></app-hobbies-dynamic-form> -->

 <!-- <app-search-filter-pagination></app-search-filter-pagination> -->

 <!-- <app-todo-list></app-todo-list> -->

 <router-outlet></router-outlet>