.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: green;
    color: white;
    border-radius: 50%;
    font-size: 12px;
    margin: 6px;

  }

  .align-middle {
    display: flex;
    align-items: center;
  }
  .line {
    width: 2px;
    background-color: grey;
    height: 50px; /* adjust the height to match the circle */
    margin: 5px 9px; 
  }