form {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  div {
    margin-bottom: 10px;
  }
  
  input {
    margin-right: 10px;
  }
  
  button {
    margin-top: 10px;
  }
  
  h3 {
    margin-top: 20px;
  }
  